//loads variables, if available
block variables

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    title #{title} | Cycle Toronto
    // Stylesheet href refering to public folder due to public folder setup in index.js folder/files pathing
    link(rel="stylesheet", href="/css/styles.css")
    // CSS link for Leaflet map API
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css", integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==", crossorigin="")
    // JS link for Leaflet map API. Ensure that this is placed AFTER Leaflet's CSS.
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js", integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==", crossorigin="")
  body
    header#header
      div.header-content
        h2#site-name
          a(href="/")#logo-link Cycle Toronto
    main#main
      block layout-content
    footer#footer
      div &copy; Copyright Cycle Toronto, 2022.